@font-face {
  font-family: "Monserat";
  src: url("../assets/fonts/Montserrat_Font/Montserrat-Regular.ttf"), url("../assets/fonts/Montserrat_Font/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Monserat bold";
  src: url("../assets/fonts/Montserrat_Font/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Monserat mid";
  src: url("../assets/fonts/Montserrat_Font/Montserrat-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Playfair display", sans-serif;
  src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  position: relative;
  width: 100%;
  font-family: "Monserat", sans-serif;
  overflow: hidden;
}

@keyframes background {
  from {
    opacity: 0;
    transition: all 8s ease-in-out;
  }
  to {
    opacity: 1;
  }
}
.back {
  width: 100%;
}
.back.main {
  position: relative;
  height: 100rem;
  background-color: #000000;
}
.back.main .slider {
  position: relative;
  width: 100%;
  height: 78.6rem;
  display: flex;
  padding: 0 9rem;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.back.main .slider__box {
  position: absolute;
  width: 400%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.back.main .slider__box__image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.back.main .slider__box .s1 {
  background-image: url("../assets/img/main_slider/Slider1.jpg");
}
.back.main .slider__box .s2 {
  background-image: url("../assets/img/main_slider/Slider2.jpg");
}
.back.main .slider__box .s3 {
  background-image: url("../assets/img/main_slider/Slider3.jpg");
}
.back.main .slider__box .s4 {
  background-image: url("../assets/img/main_slider/Slider4.jpg");
}
.back.main .slider svg {
  position: relative;
  width: 3rem;
  height: 5.6rem;
  cursor: pointer;
  z-index: 100;
}
.back.main .slider svg image {
  cursor: pointer;
  fill: #fff;
}
.back.main .mainContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1080px;
  max-width: 1080px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 9rem;
  margin: auto;
}
.back.main .mainContainer header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  height: 10rem;
  padding: 0 6rem;
}
.back.main .mainContainer header p {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  cursor: none;
}
.back.main .mainContainer header .logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.back.main .mainContainer__text {
  position: relative;
  width: 100%;
  height: 38.3rem;
  padding: 47px 140px;
  background-color: #000000;
  color: #f1f2f2;
}
.back.main .mainContainer__text hr {
  position: absolute;
  width: 60%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  border: 2px solid #fff;
}
.back.main .mainContainer__text h1 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Playfair display";
  letter-spacing: 3px;
  font-weight: 300;
  line-height: 3.54rem;
}
.back.main .mainContainer__text h3 {
  font-family: "Playfair display";
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.back.main .mainContainer__text p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4rem;
}

.bookNow-formContainer {
  position: absolute;
  width: 328px;
  height: 670px;
  padding: 2.8rem 2rem 4rem;
  background-color: #1e1e1e;
  color: #f1f2f2;
  top: 8.3rem;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}
.bookNow-formContainer.hidde {
  right: -328px;
}
.bookNow-formContainer.show {
  right: 0;
}
.bookNow-formContainer .buttonBook {
  background-color: #1e1e1e;
  position: absolute;
  width: 14.3rem;
  height: 3.8rem;
  top: 112px;
  left: -90px;
  transform: rotate(-90deg);
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Monserat bold";
  cursor: pointer;
}
.bookNow-formContainer svg {
  cursor: pointer;
}
.bookNow-formContainer .bookNow-form {
  width: 100%;
  height: 100%;
}
.bookNow-formContainer .bookNow-form h3 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Playfair display";
  font-weight: 300;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.bookNow-formContainer .bookNow-form label {
  display: block;
  width: 100%;
  padding: 0 2.5rem;
  margin: 0 auto 3rem;
}
.bookNow-formContainer .bookNow-form label p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: "Monserat bold";
  text-transform: uppercase;
}
.bookNow-formContainer .bookNow-form label .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.bookNow-formContainer .bookNow-form label .input-wrapper input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}
.bookNow-formContainer .bookNow-form label .input-wrapper svg {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 3rem;
}
.bookNow-formContainer .bookNow-form label .input-wrapper input[type=date] {
  width: 100%;
  height: 3.7rem;
  padding: 0 2rem;
  font-family: "Monserat";
  position: relative;
  color: #979fa4;
}
.bookNow-formContainer .bookNow-form .select_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bookNow-formContainer .bookNow-form .select_box .select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.bookNow-formContainer .bookNow-form .select_box .select-wrapper select {
  width: 10rem;
  height: 3.7rem;
  padding: 0 1rem;
  appearance: none;
  cursor: pointer;
  color: #979fa4;
}
.bookNow-formContainer .bookNow-form .select_box .select-wrapper svg {
  position: absolute;
  right: 1rem;
}
.bookNow-formContainer .bookNow-form .select_box p {
  width: 100%;
}
.bookNow-formContainer .bookNow-form .Message {
  width: 265px;
  margin: auto;
  font-size: 1.6rem;
  font-family: "Playfair display";
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  color: #979fa4;
}
.bookNow-formContainer .bookNow-form .Message span {
  text-transform: uppercase;
}
.bookNow-formContainer .bookNow-form .bottomMessage {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Monserat", sans-serif;
  text-transform: uppercase;
  color: #979fa4;
  margin-top: 7rem;
  cursor: pointer;
}
.bookNow-formContainer .bookNow-form .bottomMessage span {
  margin-left: 0.7rem;
}
.bookNow-formContainer .bookNow-form .submitButton-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookNow-formContainer .bookNow-form .submitButton {
  width: 10rem;
  height: 3rem;
  margin-top: 3rem;
  color: #e21f25;
  border: 1px solid #e21f25;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Playfair display";
  letter-spacing: 1px;
  cursor: pointer;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8b8d8a;
  opacity: 0.6;
  z-index: 90;
  display: none;
}

.back.accomodation {
  width: 100%;
  background-color: #fff;
}

.accommodation__container {
  width: 1080px;
  max-width: 1080px;
  margin: auto;
  padding: 6.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accommodation__container .text {
  display: inline-block;
  width: 40%;
  height: 100%;
}
.accommodation__container .text p {
  font-size: 1.4rem;
  width: 393px;
}
.accommodation__container .text .subtitle {
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  color: #282930;
  font-weight: bold;
  font-family: "Monserat bold";
}
.accommodation__container .text h2 {
  margin-top: 4rem;
  margin-bottom: 3.4rem;
  font-size: 4rem;
  color: #979fa4;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Monserat bold", "Monserat", sans-serif;
  letter-spacing: 0;
}
.accommodation__container .text a {
  display: flex;
  width: 180px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 5rem;
  color: #e21f25;
  font-size: 1.7rem;
  border: 2px solid #e21f25;
  text-transform: uppercase;
}
.accommodation__container .text a:hover {
  color: #f1f2f2;
  background-color: #e21f25;
}
.accommodation__container .image {
  width: 55%;
  height: 360px;
  display: inline-block;
}
.accommodation__container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back.events {
  width: 100%;
  background-color: #fff;
}

.events .eventsContainer {
  width: 1080px;
  max-width: 1080px;
  margin: auto;
  padding: 6.6rem 0;
}
.events .eventsContainer .events__title {
  text-align: center;
  font-family: "Monserat mid";
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 4.2rem;
}
.events .eventsContainer .events__images {
  display: grid;
  width: 91%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: auto;
}
.events .eventsContainer .events__images figure {
  width: 100%;
  position: relative;
}
.events .eventsContainer .events__images figure img {
  width: 100%;
}
.events .eventsContainer .events__images figure .date {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 9.5rem;
  height: 5.5rem;
  padding: 0 0 0 1rem;
  background-color: #282930;
  color: #f1f2f2;
}
.events .eventsContainer .events__images figure .date .number {
  font-size: 5rem;
  font-family: "Monserat bold";
}
.events .eventsContainer .events__images figure .date .month {
  font-size: 1.4rem;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-family: "Monserat bold";
}

footer {
  width: 100%;
}
footer .footerContainer {
  width: 1080px;
  max-width: 1080px;
  margin: auto;
  padding: 6.6rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
footer .footerContainer p {
  font-size: 1.4rem;
  color: #000000;
}

@media (max-width: 1024px) {
  .back.main .mainContainer {
    width: 100%;
  }
  .back.main .mainContainer header {
    width: 90%;
    margin: 0 auto;
  }
  .back.main .mainContainer h1 {
    font-size: 3rem;
  }
  .back.main .mainContainer h3 {
    font-size: 2rem;
  }
  .back.main .mainContainer p {
    font-size: 1.2rem;
  }
  .back.main .mainContainer .mainContainer__text {
    width: 90%;
    margin: 0 auto;
  }

  .accommodation__container {
    width: 90%;
  }
  .accommodation__container .text h2 {
    font-size: 2.5rem;
  }
  .accommodation__container .text p {
    max-width: 100%;
    font-size: 1.3rem;
  }
  .accommodation__container .image {
    height: auto;
  }

  .events .eventsContainer {
    width: 90%;
  }
  .events .eventsContainer .events__images {
    width: 100%;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: 20rem 20rem;
    place-content: center;
  }
  .events .eventsContainer .events__images .image {
    height: 100%;
  }
  .events .eventsContainer .events__images .image img {
    height: 100%;
  }

  footer .footerContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 769px) {
  .back.main .mainContainer {
    width: 100%;
  }
  .back.main .mainContainer header {
    width: 90%;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .back.main .mainContainer .mainContainer__text {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .back.main .slider svg {
    display: none;
  }
  .back.main .mainContainer header {
    width: 100%;
  }
  .back.main .mainContainer header .logo {
    width: 15rem;
    right: 3rem;
    left: auto;
  }
  .back.main .mainContainer .mainContainer__text {
    padding: 2rem;
  }
  .back.main .mainContainer .mainContainer__text hr {
    width: 80%;
  }

  .accommodation__container {
    width: 100%;
    flex-wrap: wrap;
  }
  .accommodation__container .text {
    width: 100%;
  }
  .accommodation__container .text h2,
.accommodation__container .text p {
    text-align: center;
  }
  .accommodation__container .text p {
    margin: 0 auto;
  }
  .accommodation__container .image {
    width: 100%;
  }
  .accommodation__container a {
    margin: 0 auto 2rem;
  }

  .events .eventsContainer .events__images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25rem);
  }
  .events .eventsContainer .events__images .date {
    width: 15rem;
    height: 6rem;
  }

  footer .footerContainer p {
    text-align: center;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
