.back {
  width: 100%;
  // border: 1px solid black;
  &.main {
    position: relative;
    height: 100rem;
    background-color: $Black;
    .slider {
      width: 100%;
      height: 78.6rem;
      border: 1px solid $White;
      display: flex;
      padding: 0 9rem;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      background-image: url('../assets/img/main_slider/Slider1.jpg');
      object-fit: cover;
      svg {
        // fill: $Gray1;
        width: 3rem;
        height: 5.6rem;
        cursor: pointer;
        image {
          cursor: pointer;
          fill: $White;
        }
      }
    }
    // mainContainer
    .mainContainer {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1080px;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 9rem;
      margin: auto;
      header {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $White;
        height: 10rem;
        padding: 0 6rem;
        p {
          font-size: 1.1rem;
          text-transform: uppercase;
          letter-spacing: 4px;
          font-weight: bold;
          cursor: none;
        }
        .logo {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
      &__text {
        width: 100%;
        height: 38.3rem;
        padding: 47px 140px;
        background-color: $Black;
        color: $White2;
        h1 {
          font-size: 4rem;
          text-transform: uppercase;
          text-align: center;
          font-family: $Font2;
          letter-spacing: 3px;
          font-weight: 300;
          line-height: 3.54rem;
        }
        h3 {
          font-family: $Font2;
          text-align: center;
          font-size: 3rem;
          font-weight: 300;
          letter-spacing: 1px;
        }
        p {
          font-size: 1.4rem;
          text-align: center;
          margin-top: 4rem;
        }
      }
    }
  }
}
